@model TransactSurcharge.Models.PaymentTransaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PaymentTransaction</h4>
    <hr />
    <dl class="dl-horizontal">
      

        <dt>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebitAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebitAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Payment Details", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Proceed with Payment", "Index")
</p>
